<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> 
    <title> Analytics Web App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <style >
      body {
  background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/65/36/0SMaGY.jpg");
      }
      footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
    </style>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>

</html>

{% extends "bootstrap/base.html" %}
{% block content %}
 

<div class="container">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <center><h2 style="color:#fff;"> Poker Hand Predictor</h2></center>     
    <center><p style="color:#fff;">Using Machine Learning to Predict Poker Hand</p></center>
  </div> 


</div>

<div class="panel panel-default col-md-6 col-md-offset-3">

    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff "><center>Select the Cards</center></div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
			<center>
      <div>
        <p> Card 1</p>
			<select name="suits1" id="s1">
        <option value=1>Hearts</option>
        <option value=2>Diamonds</option>
        <option value=3>Spades</option>
        <option value=4>Clubs</option>
		  
      </select>
      <select name="rank1">
       <option value=1>Ace</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
       <option value=11>Jack</option>
       <option value=12>Queen</option>
       <option value=13>King</option>
      </select>
    </div>
    </center>
    <center>
    <div>
        <p> Card 2</p>
      <select name="suits2">
        <option value=1>Hearts</option>
        <option value=2>Diamonds</option>
        <option value=3>Spades</option>
        <option value=4>Clubs</option>
      
      </select>
      <select name="rank2">
       <option value=1>Ace</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
       <option value=11>Jack</option>
       <option value=12>Queen</option>
       <option value=13>King</option>
      </select>
    </div>
  </center>
  <center>
    <div>
        <p> Card 3</p>
      <select name="suits3">
        <option value=1>Hearts</option>
        <option value=2>Diamonds</option>
        <option value=3>Spades</option>
        <option value=4>Clubs</option>
      
      </select>
      <select name="rank3">
       <option value=1>Ace</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
       <option value=11>Jack</option>
       <option value=12>Queen</option>
       <option value=13>King</option>
      </select>
    </div>
  </center>
  <center>
    <div>
        <p> Card 4</p>
      <select name="suits4">
        <option value=1>Hearts</option>
        <option value=2>Diamonds</option>
        <option value=3>Spades</option>
        <option value=4>Clubs</option>
      
      </select>
      <select name="rank4">
       <option value=1>Ace</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
       <option value=11>Jack</option>
       <option value=12>Queen</option>
       <option value=13>King</option>
      </select>
    </div>
  </center>
  <center>
    <div>
        <p> Card 5</p>
      <select name="suits5">
        <option value=1>Hearts</option>
        <option value=2>Diamonds</option>
        <option value=3>Spades</option>
        <option value=4>Clubs</option>
      
      </select>
      <select name="rank5">
       <option value=1>Ace</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
       <option value=7>7</option>
       <option value=8>8</option>
       <option value=9>9</option>
       <option value=10>10</option>
       <option value=11>Jack</option>
       <option value=12>Queen</option>
       <option value=13>King</option>
      </select>
    </div>
  </center>
			</div>
		
			<center><input type = "submit" value = "Predict Hand"></center>
			</form>
         
			


      </div>
    </div>

<center><footer>
  <p style="color:white;font-size:20px;">This App Uses Multi-Layer Pereceptron model to predict the poker hand. The data is sourced from 
  <a style="color: blue" href="http://archive.ics.uci.edu/ml/datasets/Poker+Hand" target="_blank"> UCI Machine Learning Repository</a>
  </p>
  
 <a href="https://www.linkedin.com/in/mihirdeshpande9/" target="_blank"> LinkedIn</a>  </center>
{% endblock %}

